.container {
  width: 100%;
  height: 50px;
  background-color: #FFDF00;
  transition: background-color 0.3s ease;
  padding: 10px 200px;
  padding-top: 18px;
  align-items: center;
 // position: absolute;
  bottom: 0 !important;
    h2{
      font-size: 15px;
      color: #333333;
      @media (max-width: 767px) {
        font-size: 11px;
      }
    }
    @media (max-width: 767px) {
      padding: 10px;
      text-align: center;
    //  position: absolute;
    }

  }




