.container {
  background-color: rgba(10, 52, 72, 0.7);
  width: 100%;
  height: auto;
  padding: 0px 200px;
  transition: background-color 0.3s ease;
  position: fixed;
  z-index: 800;
  top: 0;
  padding-bottom: 0px;
  .row{
    display: flex;
    justify-content:space-between;
  }
  .menu{
    @media (max-width: 767px) {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
     background-color: #1a1a19;
    }
    .button-close{
      background-color: #FFDF00;
      width: 35px;
      height: 35px;
      font-weight: bold;
      font-size: 28px;
      margin: 15px;
      position: absolute;
      text-align: center;
      justify-content: center;
      border-radius: 8px;
      right: 0;
      display: none;
      @media (max-width: 767px) {
        display: block;

      }
    }
  }
  .menu {
    @media (max-width: 767px) {
    //display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #1a1a19;
    transition: left 1s ease;

    }
  }

  .menu-open {
    left: 0;
  }
  .menu ul{
    padding: 0;
    margin-top: 8px;
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
      width: 80%;
      right: 0;
      margin-top: 60px;
      position: absolute;
    }
  }
  .menu ul li{
    list-style-type: none;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    color: #ffff;
    transition: 0.4s ease-in-out;
    @media (max-width: 767px) {
      color: #FFDF00;
      font-size: 25px;
      margin-top: 20px;
      z-index: 1000;
    }

  }
  .menu ul li:hover{
    color: #FFDF00;
    list-style-type: none;
    margin: 10px;
    display: inline-block;
  }
  @media (max-width: 767px) {
    padding: 10px;
    padding-bottom: 0px;
    flex-direction: column;
  }

}

.container.scroll {
  background-color: #FFDF00;
  border-bottom: none;
  .menu ul li{
    color: #1a1a19;
  }
  .menu ul li:hover{
    color: #1a1a19;
    list-style-type: none;
    margin: 10px;
    display: inline-block;
    font-weight: bold;
  }
  .bar{
    background-color: #1a1a19;
  }
}

.hamburger{
  width: 40px;
  height: 40px;
  padding-top: 5px;
  //margin-right: 10px;
  cursor: pointer;
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}
.bar{
  width: 30px;
  height: 4px;
  border-radius: 10px;
  background-color: #FFDF00;
  margin-bottom: 7px;
  margin-top: 3px;
}

